<div class='container'>
  <%= form_for @changeset, auth_path(@conn, :set_password), fn f -> %>
    <label>
      Password: <%= password_input f, :password %>
    </label>
      
    <label>
      Password Again:<%= password_input f, :password_again %>
    </label>

    <%= submit "Submit" %>
  <% end %>
</div>
